body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Arial;
	background-color: #ffffff;
	font-size: 1.1em;
}

h1 {
        margin: 0; /* Remove default margin for h1 */
}
       
.dark-border-button {
    border: 2px solid #000;
}
        
.button-container {
    display: flex;
    gap: 5px;
    align-items: center; 
}

.round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}
       
/* Define different background colors for each button */
.button-1 { background-color: #3498db; }
.button-2 { background-color: #e74c3c; }
.button-3 { background-color: #2ecc71; }
.button-4 { background-color: #f39c12; }

#btn222 {
	font-family: Helvetica; 
	font-size: 150%; 
	background-color: grey; 
	color: white; 
	border: 2px solid white; 
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
}

#btn {
	font-family: Helvetica; 
	font-size: 130%; 
	background-color: grey; 
	color: white; 
	border: 2px solid white; 
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
}

#btn:hover {
	background-color: white;
	color: grey; 
	border: 2px solid grey; 
	border-radius: 5px;
	cursor: pointer;
}
.symbols222 {
	width: 15%;
	font-size: 1px;
	padding-top: 15%;
	border-radius: 100%;
	background-color: #67E06F;
	margin: 3px;
	display: inline-block;
	color: #67E06F;
}

.symbols {
	width: 15%;
	font-size: 0px;
	padding-top: 15%;
	border-radius: 100%;
	background-color: #67E06F;
	margin: 3px;
	display: inline-block;
	color: #67E06F;
}

.clue222 {
	width: 7%;
	padding-top: 7%;
	display: inline-block;
	border: thin solid grey;
	border-radius: 100%;
	margin: 0px;
}

.clue {
	width: 7%;
	padding-top: 7%;
	display: inline-block;
	border: thin solid grey;
	border-radius: 100%;
	margin: 0px;
}
.gameSpace222 {
	max-width: 100%;
	width: 600px;
	max-width: 95%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gameSpace {
	
	width: 600px;
	max-width: 95%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.blocker {
	width: 100%;
	height: 300%;
	z-index: 1;
	position: absolute;
	top: -100px;
	background-color: rgba(0, 0, 0, 0.2);
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 600px;
	max-width: 85%;
}
#restartBtn {
	font-family: Helvetica; 
	font-size: 150%; 
	background-color: green; 
	color: white; 
	border: 2px solid white; 
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
}
#restartBtn:hover {
	background-color: white;
	color: green; 
	border: 2px solid green; 
	border-radius: 5px;
	cursor: pointer;
}
#codeBtn {
	font-family: Helvetica; 
	font-size: 150%; 
	background-color: red; 
	color: white; 
	border: 2px solid white; 
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
}
#codeBtn:hover {
	background-color: white;
	color: red; 
	border: 2px solid red; 
	border-radius: 5px;
	cursor: pointer;
}

